.title {
  /* color: #495057; */
  /* background-color: #e9ecef; */
  border-bottom: 2px solid #dee2e6;
  padding: 10px;
}

.bord {
  /* border-bottom: 1px solid #dee2e6; */
  position: relative;
  top: 3rem;
}
