@font-face {
  font-family: "okomitomedium";
  src: url("../../public/fonts/okomito-medium-webfont.woff") format("woff2"),
    url("../../public/fonts/okomito-medium-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
.h_style {
  color: "#fff";
  font-size: 20px;

  font-family: "okomitomedium";
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}
.Stan_container {
  position: relative;
  left: 5rem;
}
.btn-light {
  font-family: "okomitomedium";
  font-size: 14px;
}
.btn-gradient {
  font-size: 14px;
  font-family: "okomitomedium";
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #37c673,
    #109f69
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #37c673,
    #109f69
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.border-style {
  border-color: #37c673 !important;
  border-radius: 1rem !important;
  height: 4rem;
}
.user_img {
  width: "100%";
}
.std_txt {
  font-size: 17px;
  text-align: center;
  font-family: "okomitomedium";
  margin: 0 auto;
}

.sub-title {
  position: relative;
  font-size: 13px;
}
.pm_txt {
  font-size: 12px;
  position: relative;
  bottom: 1.5rem;
  right: 0rem;
  float: right;
}
.rs_style {
  background-color: #37c673;
  width: fit-content;
  padding: 5px;
}
.mygame_text {
  font-family: "okomitomedium";
  font-size: 16px;
}
.mygame_num {
  font-family: "okomitomedium";
  font-size: 20px;
}
.block_play,
.block_won,
.block_lost,
.block_rank {
  border-radius: 12px !important;
}
.block_play {
  background-color: #bf5db7;
}
.block_won {
  background-color: #ffa700;
}
.block_lost {
  background-color: #fe4646;
}
.block_rank {
  background-color: #37c673;
}
