.tp-menu a {
  padding: 15px;
}

.nav-link:hover,
.hov-green:hover {
  color: #87c242 ;
}

.tm_top_navi li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase !important;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
  padding: 18px 1.125rem;
}

.sticky-tab {
  z-index: 900;
  position: fixed;
  left: 0px;
  background-color: black;
  max-width: 100%;
  width: 100%;
  height: 80px;
}
.sticky-value {
  position: fixed;
  margin: auto;
  left: 2px;
  top: 58px;
  width: 99%;
  -webkit-box-shadow: 0 4px 2px -2px rgb(0 0 0 / 93%);
  box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 93%);
  z-index: 910;
}

/* @media (max-width: 640px) {
  .sticky-value {
    position: fixed;
    margin: auto;
    left: 2px;
    top: 58px;
    width: 99%;
    -webkit-box-shadow: 0 4px 2px -2px rgb(0 0 0 / 93%);
    box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 93%);
    z-index: 910;
  }
} */

.marg-chat {
  margin-top: 44%;
}

/* @media (max-width: 414px) {
  .sticky-tab {
    position: fixed;
    left: 0px;
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 411px) {
  .sticky-tab {
    position: fixed;
    left: 0px;
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 375px) {
  .sticky-tab {
    position: fixed;
    left: 0px;
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 360px) {
  .sticky-tab {
    position: fixed;
    left: 0px;
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 320px) {
  .sticky-tab {
    position: fixed;
    left: 0px;
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 80px;
  }
} */
.margChat {
  z-index: 998;
  width: 92%;
  left: 15px;
  background: black;
}
@media screen and (max-width: 576px) {
  .m-logo {
    margin: 5px 0px 0px 30px;
  }
}
/* 
@media (max-width: 414px) {
  .margChat {
    margin-top: -2%;
    position: fixed;
    z-index: 1000;
    width: 92%;
    left: 15px;
    background: black;
  }
}

@media (max-width: 411px) {
  .margChat {
    margin-top: -3%;
    position: fixed;
    z-index: 1000;
    width: 92%;
    left: 15px;
    background: black;
  }
}

@media (max-width: 375px) {
  .margChat {
    margin-top: -32px;
    position: fixed;
    z-index: 1000;
    width: 92%;
    left: 15px;
    background: black;
  }
}

@media (max-width: 360px) {
  .margChat {
    margin-top: -67px;
    position: fixed;
    z-index: 1000;
    width: 92%;
    left: 15px;
    background: black;
  }
}

@media (max-width: 320px) {
  .margChat {
    margin-top: -35%;
    position: fixed;
    z-index: 1000;
    width: 92%;
    left: 15px;
    background: black;
  }
} */
