.textBlack {
  color: white;
}

.cardHeader {
  background-color: #121117;
  border: 1px solid #222;
}

.car {
  border: 1px solid #222;
}
.cardBody {
  background-color: #1e1d23;
  text-align: center;
}

.title {
  font-size: 15px;
}
.width {
  width: 55%;
  margin: auto;
}

.learnList {
  list-style-type: disc !important;
  padding-left: 15px;
}

.bgBlack {
  background-color: #121117;
}

.mid {
  width: 50%;
  margin: auto;
}

.tm_btng_tble tbody {
  background: #1a1921;
  height: 300px;
  overflow: hidden;
  color: white;
}

.tm_btng_sidebar_hdr {
  background-color: #121117;
  padding: 10px 0;
  cursor: pointer;
  text-align: left;
  padding-left: 0.5rem;
}

.listSidebar {
  background-color: #121117;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  color: #6c757d;
}

.listgroupitem {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.sideBarLiHeader {
  background-image: linear-gradient(270deg, #121117, #000);
  padding: 5px 10px;
  background-color: #121117;
}

.active {
  color: #87c242 !important;
  border-width: 2px;
  border-color: transparent !important;
  background: white !important;
}

.font400 {
  font-weight: 400;
}

.tm_btng_tble thead tr th {
  font-weight: 400;
}
.tm_btng_tble tbody tr td span {
  font-weight: 400;
}

.bgBlack {
  background-color: #121117;
  border: 1px solid #222;
}

.bgDarkGame {
  background-image: linear-gradient(to left, #121117, #000);
  padding: 1rem 1rem !important;
  border-bottom: 3px solid #222222;
}
.bgDarkGame:active {
  border-bottom: 3px solid #87c242 !important;
}

.bgDarkGame:hover {
  border-bottom: 3px solid #87c242;
}

.activeLi{
  border-bottom: 3px solid #87c242;
}



.bgDark {
  background-image: linear-gradient(to left, #121117, #000);
  padding: 1rem 1rem !important;
}
.bgBlackNoHover {
  background-image: linear-gradient(to left, #121117, #000);
  padding: 1rem 1rem !important;
}

.bgDark:hover {
  background: white !important;
}

.border{
  border: 1px solid #222;
}

/* home */
.tm_pcoins_bx {
  border: 1px solid #222;
  padding: 20px 15px;
  background-color: #121117;
  margin-bottom: 10px;
  /* border-radius: 5px; */
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
}
.tm_pcoins_icn {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 9px;
}

.tm_pcoins_btn button {
  border-radius: 2px;
  padding: 10px 20px;
  background-image: linear-gradient(180deg, #47770b, #7dc81c);
  border: 1px solid #275800;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.tm_pcoins_btn span {
  color: #6fa631 !important;
  margin-right: 7px;
  right: 2px;
}
.tm_pcoins_icn span {
  font-size: 22px;
  font-weight: bold;
  color: #fb9600;
  display: block;
  margin-left: 5px;
  top: 6px;
  position: relative;
}
.tm_pcoins_icn span {
  font-size: 22px;
  font-weight: bold;
  color: #fb9600;
  display: block;
  margin-left: 5px;
  top: 6px;
  position: relative;
}

.tm_pcoins_icn li {
  display: inline-block;
}

.discountImage{
  width: 200px;
  margin: auto;
}

@media screen and (max-width: 990px) {
  .width {
    width: 100% !important;
    margin: auto;
  }

  .discountImage{
    width: 100% !important;
    margin: auto;
  }
}
