.list:hover {
  overflow-x: visible !important;
}

.zero-add {
  position: relative;
  top: 100px;
}

.play-btn {
  position: relative;
  bottom: 33px;
  width: 78px;
  color: white;
  background: black;
  padding: 5px 10px 5px 10px;
}

.play-btn:hover {
  transition: all 0.3s;
  color: #87c242;
}
