.list:hover {
  overflow-x: visible !important;
}

.zero-add {
  /* position: relative;
  top: 100px; */
}

.play-btn {
  position: relative;
  bottom: 33px;
  width: 78px;
  color: white;
  background: black;
  padding: 5px 10px 5px 10px;
}

.play-btn:hover {
  transition: all 0.3s;
  color: #87c242;
}

.view-more-btn {
  border-radius: 29px;
  border: 1px solid white;
  color: white;
  padding: 5px 12px;
  font-size: 12px;
}

.view-more-btn:hover {
  color: white;
}
