div.mm-dropdown {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: #f1f1f1;
  margin-right: -5%;
  margin-left: -4.5%;
  margin-top: 2%;
}

div.mm-dropdown ul li {
  padding: 0;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px;
}

div.mm-dropdown div.textfirst {
  color: #333;
  padding: 0px 4px;
  margin-top: -2px;
}

div.mm-dropdown div.textfirst img.down {
  float: right;
  margin-top: 5px;
}

div.mm-dropdown ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown ul li {
  display: none;
  padding-left: 10px;
  padding-bottom: 5px;
}

div.mm-dropdown ul li.main {
  display: block;
}

div.mm-dropdown ul li img {
  width: 20px;
  height: 20px;
}

div.mm-dropdown ul li span {
  position: absolute;
  padding-left: 10px;
  margin-top: 1px;
}

div.mm-dropdown div.textfirst span {
  position: absolute;
  padding-left: 10px;
  margin-top: 1px;
}

.bg_dark {
  background: url("//d1s7wg2ne64q87.cloudfront.net/web/images/sign-bg.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.tm_login_pg {
  display: table;
  width: 100%;
  /* height: 100vh; */
}

.login_slct_oprtr {
  /* padding-top: 50px; */
  transition: 0.3s;
  color: #fff;
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

.req_pin_cde_btn {
  background-color: #4d8305;
  padding: 12px 6px;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  margin-top: 15px;
  color: #fff;
  border: 0;
}

.req_pin_cde_btn:hover {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:focus {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:active {
  background-color: #4d8305 !important;
}

.login_slct_oprtr .form-control {
  border-left: 1px solid #ccc !important;
  border-radius: 0;
  border: 0;
  background: #f1f1f1;
  height: 45px;
  padding: 13px 6px;
  box-shadow: none;
  font-weight: bold;
  /* margin-top: -2% */
}

.login_slct_oprtr h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.login_slct_oprtr p {
  margin-bottom: 20px;
}

.login_slct_oprtr1 {
  display: none;
}

.login_pin_card,
.login_set_pin_card,
.forget_pin_card {
  display: none;
}

.telenor_verify_otp,
.login_slct_oprtr2 {
  display: none;
  transition: 0.3s;
}

.login_slct_oprtr_active {
  display: table-cell;
  transition: 0.3s;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  font-size: 14px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    overflow: hidden !important;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    overflow: hidden !important;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    overflow: hidden !important;
  }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  body {
    overflow: hidden !important;
  }

  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .bg_dark {
    margin-left: -4%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .bg_dark {
    margin-left: -4%;
  }
}

div.signup-dropdown {
  border: 1px solid #ddd;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  border-radius: initial;
  height: 34px;
}

div.card-dropdown {
  border: 1px solid #ddd;
  width: 30%;
  cursor: pointer;
  z-index: 33;
  border-radius: initial;
  height: 34px;
  float: left;
}

div.card-dropdown ul {
  z-index: 1000;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff;
  margin-right: -15%;
  margin-left: -15%;
  margin-top: 2%;
  border-right: 1px solid #ccc;
}

div.signup-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff;
  margin-right: -8%;
  margin-left: -8%;
  margin-top: 2%;
}

div.card-dropdown ul li,
div.signup-dropdown ul li {
  padding: 0;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px;
}

div.card-dropdown div.textfirst,
div.signup-dropdown div.textfirst {
  color: #333;
  padding: 0px 4px;
  margin-top: -2px;
  margin-left: -8px;
}

div.card-dropdown div.textfirst img.down,
div.signup-dropdown div.textfirst img.down {
  float: right;
  margin-top: 5px;
}
div.card-dropdown ul li:last-child,
div.signup-dropdown ul li:last-child {
  border-bottom: 0;
}

div.card-dropdown ul li,
div.signup-dropdown ul li {
  display: none;
  padding-left: 10px;
  padding-bottom: 5px;
}

div.card-dropdown ul li.main,
div.signup-dropdown ul li.main {
  display: block;
}
div.card-dropdown ul li img,
div.signup-dropdown ul li img {
  width: 20px;
  height: 20px;
}
div.card-dropdown ul li span,
div.signup-dropdown ul li span {
  position: absolute;
  padding-left: 10px;
  margin-top: 1px;
}
div.card-dropdown div.textfirst span,
div.signup-dropdown div.textfirst span {
  position: absolute;
  padding-left: 10px;
  margin-top: 1px;
}

.easypaisa-input-option {
  list-style: none;
  border-right: 1px solid #000;
  list-style: none;
  background: #ffff;
  width: 40%;
}

.easypaisa-input-option span {
  padding-left: 10px;
  padding-top: 2%;
  position: absolute;
  font-weight: 700;
}

.easypaisa-input-option img {
  width: 20px;
  height: 20px;
  margin-left: 10%;
  margin-top: 5%;
}

.pymnt_pge_bx {
  /*border: 1px solid #222;*/
  background-color: #121117;
  /* overflow: hidden; */
}

.pymnt_pge_pr_list {
  font-size: 18px;
}

.pymnt_pge_pr_list li {
  font-size: 14px;
  color: #fff;
  border-radius: 0 !important;
  background-color: #222;
  cursor: pointer;
  transition: 0.3s;
}

.pymnt_pge_pr_list li > span {
  font-size: 36px;
  color: #87c242;
}

.pr_active {
  background-color: #fff !important;
  color: #000 !important;
  background-image: url(//d1s7wg2ne64q87.cloudfront.net/web/images/payment/check.png);
  background-position: 100% -15px;
  background-size: 35%;
  background-repeat: no-repeat;
}

.pymnt_pge_pkgs_list > li > i {
  font-style: normal;
}

.pymnt_pge_pkgs_active:before {
  content: "\f058";
  font-family: fontawesome;
  position: absolute;
  top: -15px;
  left: 47%;
  font-size: 18px;
  color: #87c242;
}

.pymnt_pge_pkgs_active > i {
  color: #fff !important;
}

.pymnt_pge_pkgs_list li {
  cursor: pointer;
}

.pymnt_pge_bx input {
  background-color: #fff;
  height: 34px;
  border-radius: 0;
  padding: 0 10px;
  font-size: 15px;
}

.pymnt_pge_bx select {
  background-color: #fff;
  height: 34px;
  border-radius: 0;
  font-size: 15px;
}

.pymnt_pge_bx label.cntry_cde {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  height: 34px;
}

.pymnt_pge_sbscrbe_btn {
  background-color: #87c242;
  border-radius: 0;
}

.mthd_active {
  display: block !important;
}

.pymnt_pge_phne {
  display: none;
}

.pymnt_pge_cc {
  display: none;
}

.wlt_bx,
.jazzcash_bx {
  display: none;
}

.crdt_card_frm_pin,
.wallet_set_pin,
.simcard_set_pin,
.otp_verify,
.telenor_otp_verify,
.pin_verify_alreadyuser,
.pin_verify {
  display: none;
}

.cc_active {
  display: block;
}

::placeholder {
  color: #495057;
}

.payment-method {
  width: 100%;
}

.block-cursor {
  cursor: not-allowed !important;
}

@media (max-width: 576px) {
  .pymnt_pge_pr_list li > span {
    font-size: 24px;
    display: block;
  }
}

.p-20 {
  padding: 20px;
}

.sr-combo-inputs-row {
  margin-bottom: 10px;
}
