:root {
  --mobile: url("https://d34080pnh6e62j.cloudfront.net/images/VideoOnDemandThumb/1630911889signinmobile.jpg");
  --desktop: url("https://d34080pnh6e62j.cloudfront.net/images/VideoOnDemandThumb/1630488889signin.jpg");
  --basecolor: #87c242 ;
}
.text-base {
  color: var(--basecolor);
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--basecolor);
  margin: auto;
}
.bg_dark {
  /* background: url("https://d34080pnh6e62j.cloudfront.net/images/VideoOnDemandThumb/1623231058SigninPage-min.jpg"); */
  background: var(--desktop);
  background-size: cover;
  height: 100vh;
  background-blend-mode: multiply;
}
.bg-dark-cstm {
  /* background-color: #262626; */
  background-color: #3b3b3b;
}
.tm_login_pg {
  display: table;
  width: 100%;
}

.border-curve {
  border-radius: 5px !important;
}

.text-box {
  background-color: white;
}

.payment-icon {
  background-color: white;
  color: black;
  padding: 7px;
  display: flex;
  align-items: center;
}

.login_slct_oprtr {
  /* padding-top: 50px; */
  transition: 0.3s;
  color: #fff;
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

.req_pin_cde_btn {
  background-color: #4d8305;
  padding: 12px 6px;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  margin-top: 15px;
  color: #fff;
  border: 0;
}
.req_pin_cde_btn-blue {
  background-color: #15417c;
  padding: 12px 6px;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  margin-top: 15px;
  color: #fff;
  border: 0;
}

.list-group-horizontal .list-group-item {
  margin-right: -1px;
  margin-bottom: 0;
}

.pymnt_pge_pr_list li > span {
  font-size: 14px;
  text-transform: uppercase;
}
.pymnt_pge_pr_list li {
  font-size: 14px;
  color: #000;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}
.pr_active {
  background-position: 100% -15px;
  background-size: 5rem;
  background-repeat: no-repeat;
  /* border-bottom: 5px solid var(--basecolor); */
}

.green-bar {
  border-bottom: 4px solid var(--basecolor);
  position: relative;
  bottom: -16px;
  margin: 0 auto;
  width: 70%;
}
.pr_active span {
  color: var(--basecolor);
}

.req_pin_cde_btn:hover {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:focus {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:active {
  background-color: #4d8305 !important;
}

/* .login_slct_oprtr .form-control { */

.login_slct_oprtr h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.login_slct_oprtr p {
  margin-bottom: 20px;
}

.login_slct_oprtr1 {
  display: none;
}

.login_pin_card,
.login_set_pin_card,
.forget_pin_card {
  display: none;
}

.telenor_verify_otp,
.login_slct_oprtr2 {
  display: none;
  transition: 0.3s;
}

.login_slct_oprtr_active {
  display: table-cell;
  transition: 0.3s;
}

/* .form-control { */
.custom-input {
  font-size: 14px;
}

.promo-code-input {
  padding: 7px 0px;
}

.promo-btn {
  font-size: large;
}

.clr-green {
  color: #87c242 ;
}
.bg-green {
  background-color: #87c242 ;
  border-radius: 0;
}

.checkbox-term {
  width: 20px;
  height: 20px;
  border-radius: 10px !important;
}

/* term and condition checkbox */
.container-term {
  display: block;
  padding-left: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #878787;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-term span {
  text-decoration: underline;
}

.pymnt_pge_sbscrbe_btn {
  width: 100%;
  border-radius: 23px;
  font-size: 20px;
  color: white;
}
.text-white {
  color: white !important;
}
.mbl-check-icon {
  position: relative;
  top: -23px;
  left: 56px;
}

.clr-black {
  color: black;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}
.width-11rem {
  width: 100%;
  cursor: pointer;
}
.dropdown-width {
  width: 11rem;
}

.padding-left-bottom {
  /* display: none; */
  padding-left: 10px;
  padding-bottom: 5px;
}

.caret-down {
  float: right;
  margin-top: 5px;
}
.translate-100 {
  background: white;
  height: 120px;
  transition: all 0.5s;
}

.translate-0 {
  background: white;
  height: 0%;
  transition: all 0.5s;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight {
  font-weight: 700;
}

.pymnt_pge_bx {
  background-color: #121117;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mbl-check-icon {
    position: relative;
    top: -22px;
    left: 2.5rem;
  }

  .pr_active {
    background-position: 100% -15px;
    background-size: 5rem;
    background-repeat: no-repeat;
    /* border-bottom: 5px solid var(--basecolor); */
  }
  .mbl-13px {
    font-size: 13px;
  }
  .width-11rem {
    width: 8rem;
    cursor: pointer;
  }

  .dropdown-width {
    width: 8rem;
  }
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .pymnt_pge_pr_list li > span {
    font-size: 3.5vw;
    color: #87c242 ;
    text-transform: uppercase;
  }
}
.border-radius-6{
  border-radius: 6px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: var(--mobile) !important;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .pymnt_pge_pr_list li > span {
    font-size: 3.5vw;
    color: #87c242 ;
    text-transform: uppercase;
  }
  .bg_dark {
    background: var(--mobile);
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: var(--mobile);
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.f-40 {
  font-size: 32px;
}
.per-month {
  font-size: 12px;
  text-align: left;
}
.monthly {
  font-size: 12px;
  text-align: left;
  line-height: 5px;
  position: relative;
  left: 3px;
  top: 18px;
}

.line-1 {
  line-height: 1;
}
.line-2 {
  line-height: 2;
}
.font-17 {
  font-size: 20px;
}
.font-weight-600 {
  font-weight: 600;
}
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: var(--mobile);
    background-size: cover;
    background-blend-mode: multiply;
  }
  .f-40 {
    font-size: 30px;
  }
  .per-month {
    font-size: 10px;
  }
  .monthly {
    font-size: 12px;
    text-align: left;
    line-height: 9px;
    position: relative;
    left: 3px;
    top: 7px;
  }

  .green-bar {
    border: 3px solid var(--basecolor);
    position: relative;
    margin: 0 auto;
    width: 70%;
  }
}
.sized-image {
  height: 50px;
  object-fit: contain;
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .bg_dark {
    /* margin-left: -4%; */
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .bg_dark {
    /* margin-left: -4%; */
  }
}

/* Checkout CSS */

.one-liner {
  display: flex;
  flex-direction: column;
}

.card-frame {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 8px;
  height: 40px;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.2);
}

.card-frame.frame--rendered {
  opacity: 1;
}

.card-frame.frame--rendered.frame--focus {
  border: solid 1px #13395e;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.15);
}
.f-20 {
  font-size: 20px;
}
.price-active {
  background: var(--basecolor);
  color: white;
  border-radius: 10px;
}
.price-active span {
  color: white;
}
.card-frame.frame--rendered.frame--invalid {
  border: solid 1px #d96830;
  box-shadow: 0 2px 5px 0 rgba(217, 104, 48, 0.15);
}

@media screen and (min-width: 31rem) {
  .one-liner {
    flex-direction: row;
  }

  .card-frame {
    width: 100%;
    margin-bottom: 0;
  }
}

.rounded-sides:first-child {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.rounded-sides:last-child {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

/* Custom CSS for Radio Buttons Start*/

input[type="radio"] {
  display: none;
}
.radio-cstm:before {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  content: "";
  border-radius: 50%;
  display: block;
  margin: -2px 20px;
}
.radio-cstm:after {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  content: "";
  border-radius: 50%;
  display: block;
  /* margin: -5px 21px; */
  margin: -6px 20px;
  position: absolute;
  left: 5px;
  top: 9px;
  transition: all 0.4s;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .radio-cstm:before {
    width: 25px;
    height: 25px;
  }
  .radio-cstm:after {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (max-width: 799px) {
  .radio-cstm:after {
    width: 11px;
    height: 11px;
    background-color: rgb(255, 255, 255);
    content: "";
    border-radius: 50%;
    display: block;
    margin: -4px 22px;
    position: absolute;
    left: 5px;
    top: 9px;
    transition: all 0.4s;
  }
}
input[type="radio"]:checked + .radio-cstm::after {
  background-color: rgba(135, 194, 66, 1);
}
input[type="radio"]:checked + .radio-cstm::before {
  border: 3px solid rgba(135, 194, 66, 1);
}
.radio-cstm {
  cursor: pointer;
  font-weight: bold;
}
.radio-cstm:nth-last-child(1) {
  padding-right: 0px;
}
/* Custom CSS for Radio Buttons End*/
