.bg_dark {
  background: url("https://d34080pnh6e62j.cloudfront.net/images/VideoOnDemandThumb/1623231058SigninPage-min.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

.tm_login_pg {
  display: table;
  width: 100%;
}

.login_slct_oprtr {
  /* padding-top: 50px; */
  transition: 0.3s;
  color: #fff;
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

.req_pin_cde_btn {
  background-color: #4d8305;
  padding: 12px 6px;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  margin-top: 15px;
  color: #fff;
  border: 0;
}
.req_pin_cde_btn-blue {
  background-color: #15417c;
  padding: 12px 6px;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  margin-top: 15px;
  color: #fff;
  border: 0;
}

.list-group-horizontal .list-group-item {
  margin-right: -1px;
  margin-bottom: 0;
}

.pymnt_pge_pr_list li > span {
  font-size: 30px;
  color: #87c242;
}
.pymnt_pge_pr_list li {
  font-size: 14px;
  color: #fff;
  border-radius: 0 !important;
  background-color: #222;
  cursor: pointer;
  transition: 0.3s;
}

.pr_active {
  background-color: #fff !important;
  color: #000 !important;
  background-image: url(//d1s7wg2ne64q87.cloudfront.net/web/images/payment/check.png);
  background-position: 100% -15px;
  background-size: 5rem;
  background-repeat: no-repeat;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;
  color: black !important;
  text-decoration: none;
  background-color: #f8f9fa;
}

.req_pin_cde_btn:hover {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:focus {
  background-color: #4d8305 !important;
}

.req_pin_cde_btn:active {
  background-color: #4d8305 !important;
}

.login_slct_oprtr .form-control {
  border-left: 1px solid #ccc !important;
  border-radius: 0;
  border: 0;
  background: #f1f1f1;
  height: 45px;
  padding: 13px 6px;
  box-shadow: none;
  font-weight: bold;
  /* margin-top: -2% */
}

.login_slct_oprtr h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.login_slct_oprtr p {
  margin-bottom: 20px;
}

.login_slct_oprtr1 {
  display: none;
}

.login_pin_card,
.login_set_pin_card,
.forget_pin_card {
  display: none;
}

.telenor_verify_otp,
.login_slct_oprtr2 {
  display: none;
  transition: 0.3s;
}

.login_slct_oprtr_active {
  display: table-cell;
  transition: 0.3s;
}

.form-control {
  font-size: 14px;
}

.promo-code-input {
  padding: 7px 0px;
}

.promo-btn {
  font-size: large;
}

.clr-green {
  color: #87c242;
}
.bg-green {
  background-color: #87c242;
  border-radius: 0;
}
.text-white {
  color: white !important;
}
.mbl-check-icon {
  position: relative;
  top: -23px;
  left: 56px;
}

.clr-black {
  color: black;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}
.width-11rem {
  width: 11rem;
  cursor: pointer;
}
.dropdown-width {
  width: 11rem;
}

.padding-left-bottom {
  /* display: none; */
  padding-left: 10px;
  padding-bottom: 5px;
}

.caret-down {
  float: right;
  margin-top: 5px;
}
.translate-100 {
  background: white;
  height: 120px;
  transition: all 0.5s;
}

.translate-0 {
  background: white;
  height: 0%;
  transition: all 0.5s;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  background-color: #a9a9a9b0;
}
.font-weight {
  font-weight: 700;
}

.pymnt_pge_bx {
  background-color: #121117;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mbl-check-icon {
    position: relative;
    top: -22px;
    left: 2.5rem;
  }

  .pr_active {
    background-color: #fff !important;
    color: #000 !important;
    background-image: url(//d1s7wg2ne64q87.cloudfront.net/web/images/payment/check.png);
    background-position: 100% -15px;
    background-size: 4rem !important;
    background-repeat: no-repeat;
  }
  .mbl-13px {
    font-size: 13px;
  }
  .width-11rem {
    width: 8rem;
    cursor: pointer;
  }

  .dropdown-width {
    width: 8rem;
  }
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: url("https://www.tapmad.com/psl6/images/front-background-mobile.jpg") !important;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: url("https://www.tapmad.com/psl6/images/front-background-mobile.jpg");
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: url("https://www.tapmad.com/psl6/images/front-background-mobile.jpg");
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .bg_dark,
  .tm_login_pg {
    overflow: hidden;
    overflow-y: hidden;
  }
  .bg_dark {
    background: url("https://www.tapmad.com/psl6/images/front-background-mobile.jpg");
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .bg_dark {
    margin-left: -4%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .bg_dark {
    margin-left: -4%;
  }
}
