/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Mehr Nastaliq Web";
  src: url("../../public//static/Mehr_Nastaliq_Web/MehrNastaliqWebRegular.ttf")
    format("truetype");

  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.news-cat {
  background-color: #007bff;
  padding: 3px 10px 6px 10px;
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.news-card-title {
  font-family: "Mehr Nastaliq Web";
}

.news-card-desc {
  font-family: "Mehr Nastaliq Web";
  font-size: 14px;
}

.font-meher {
  font-family: "Mehr Nastaliq Web";
}
.tm_news_trndng {
  background-color: #121117;
  border: 1px solid #222;
}

.tm_news_big {
  background-color: #121117;
  border: 1px solid #222;
}

.cursor-point {
  cursor: pointer;
}

.news-date {
  font-size: 14px;
  font-family: "Aktiv Grotesk W01 Regular";
}

.border-left {
  border-left: 3px solid #87c242  !important;
}

.border-bottom-news {
  border-bottom: 3px solid #dc3545 !important;
}

.tm_news_cat_list li {
  background-color: #121117;
  border: 1px solid #222;
}
.trending-bg {
  background-color: #121117;
  border: 1px solid #222;
}

.list-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
}
