.nav-tabs .tshop-tabs {
  border: 0px;
}
.tshop-tabs {
  border-bottom: 3px solid white;
}
.tshop-tabs {
  border-bottom: 3px solid white;
}

.tshop-tabs:hover,
.tshop-tabs:focus {
  border-bottom: 3px solid white;
}
.nav-tabs {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.product-images {
  overflow: hidden;
  padding: 1px;
}
.product-images img {
  border-radius: 4px;
  width: 100%;
}
.tshop-tabs {
  flex: 1;
  text-align: center;
}
