.bd-example #player {
  min-height: 54vw;
  height: auto;
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
}
a {
  text-decoration: none !important;
}
a:focus {
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #121117;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.wrapper_inactive {
  display: none;
}

.overflow-hidden {
  overflow: hidden !important;
}

.list-group li {
  list-style-type: none;
}

@media (min-width: 768px) {
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important;
  }
}

.tm_btng_sidebar {
  border: 1px solid #222;
  background-color: #121117;
}
.text-center {
  text-align: center !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.tm_btng_sidebar_hdr {
  background-image: linear-gradient(to left, #121117, #000);
  padding: 10px 0;
  cursor: pointer;
}

.tm_btng_sidebar_btns a {
  font-size: 11px;
  border: 1px solid #222;
}
.tm_btng_sidebar a {
  color: #fff;
}
.text-muted {
  color: #6c757d !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.tm_btng_sidebar h6 {
  color: #fff;
}

.color-white {
  color: #fff;
}

.tm_btng_sidebar a {
  color: #fff;
}

.tm_btng_sidebar_btns2 a {
  font-size: 11px;
  border: 0;
}

.tm_btng_sidebar_hdr h5 {
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.tm_btng_sidebar_btns a > i {
  font-size: 28px;
  color: #87c242;
}

.fa.pull-right {
  margin-left: 0.3em;
}
.pull-right {
  float: right;
}

[data-toggle="collapse"] .fa:before {
  content: "\f106";
}
[data-toggle="collapse"].collapsed .fa:before {
  content: "\f107";
}

.tm_btng_bnr {
  display: none;
}
.tm_btng_bnr {
  border: 1px solid #222;
}

.tm_btng_liv {
  border: 1px solid #222;
  background-color: #121117;
}

.tm_btng_sidebar_hdr {
  background-image: linear-gradient(to left, #121117, #000);
  padding: 10px 0;
  cursor: pointer;
}

.tm_btng_hdr_icn {
  background-color: #121117;
}

.tm_btng_quize h6 {
  font-size: 13px;
}

.tm_btng_go_Btn {
  background-color: #87c242;
  color: #000;
  font-family: "montserratsemibold";
}

.slick-disabled {
  display: none !important;
}
.slick-prev {
  left: 5px;
  z-index: 5;
}

.tm_btng_caro_mble_blnce .slick-list {
  overflow: hidden;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
}
.slick-slide {
  margin: 0px 2px;
}
.slick-slide {
  margin: 0;
}

/* Menu Footer */
.gm_foo_nav {
  background-image: linear-gradient(to left, #121117, #000, #121117);
  padding: 2px 0;
}
.gm_mob_menu li:hover {
  border-bottom: 2px solid #87c242;
}
a.text-light:focus,
a.text-light:hover {
  color: #cbd3da !important;
}

a:focus {
  box-shadow: none !important;
}

.modal-content {
  border: none;
  border-radius: 12px;
  color: black;
}

.modal-header {
  padding: 2px 10px 2px 10px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 18px;
  color: #6d6d6d;
  font-weight: 400;
  line-height: 36px;
}

.modal-header .close {
  font-weight: 400;
}

@media (max-width: 576px) {
  .tm_btng_sidebar_hdr h5 {
    font-size: 14px;
  }

  .tm_btng_sidebar_hdr h5 {
    font-size: 14px;
  }

  .tm_btng_hdr_liv_mtchs p {
    font-size: 13px;
  }
}