html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.width-90{
  width: 90%;
}

/* loader css */

#overlay2 {
  background-color: black;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1000;
}

.loader2 {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #8bbb4b;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40%;
  left: 48%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nfLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.nfLoader:after {
  content: "";
  background-image: url(/icons/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: nfLoader-spin 1.1s linear infinite, 1 !important;
  -webkit-animation: nfLoader-spin 1.1s linear infinite, 1 !important;
}

@keyframes nfLoader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes nfLoader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.nfLoader > .loader_image_tapmad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -45px;
  width: 90px;
}

/* loader css end*/
