@import "../theming.scss";

body {
  background: black;
  color: white;
}
.logo {
  position: fixed;
  padding: 0.5rem 0rem;
  z-index: 2;
  box-shadow: inset 22px 64px 40px -29px black;
}
.movies-images img {
  border-radius: 6px;
}
.slick-next {
  right: 1.125rem;
  z-index: 5;
}
.slick-prev {
  left: 5px;
  z-index: 5;
}
.slick-disabled {
  display: none !important;
}
.slick-next::before {
  font-family: "fontAwesome";
  content: "\f105";
  border-radius: 30px;
}
.slick-prev:before,
.slick-next:before {
  color: #fff;
  padding: 6px 13px;
  background: #121117;
}
.slick-prev:before {
  font-family: "fontAwesome";
  content: "\f104";
  border-radius: 30px;
}
.tp-menu a {
  padding: 20px;
  color: white;
  font-weight: 600;
}
.tp-menu a:hover {
  text-decoration: none;
}

.loader-5 {
  height: 32px;
  width: 32px;
  -webkit-animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  margin: auto;
}
@-webkit-keyframes loader-5-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-5-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-5::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(24px, 0, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-5-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader-5::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(-24px, 0, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-5-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(-24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader-5 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
}
.loader-5 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(0, 24px, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-5-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, 24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader-5 span::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(0, -24px, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-5-5 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, -24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

// home page

.width-100 {
  width: 100%;
}
// home page button start

.tm-mv-bx {
  transition: linear 0.2s;
  border-radius: 0px;
  overflow: hidden !important;
  // margin: 10px 0;
  padding: 0;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.tm-mv-bx:hover {
  transform: scale(1.3);
  z-index: 2;
}
.tm-mv-items {
  // width: 100%;
  bottom: 0;
  top: 0;
  position: absolute;
  transition: linear 0.2s;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.tm-mv-bx:hover .tm-mv-items {
  opacity: 1 !important;
  transform: scale(1);
}
.tm-mv-bx:hover ~ .slick-list {
  overflow: visible !important;
}
.slick-slide {
  padding: 0px 2px;
}
.tm-mv-name {
  bottom: 10px;
  position: absolute;
  width: 90%;
  left: 10px;
}

// SideBar Menu CSS

.color-white {
  color: #fff;
}

.sideBarGame {
  display: none;
}

a,
label,
li,
p,
span {
  line-height: 1.5;
}
.bd-example #player {
  min-height: 54vw;
  height: auto;
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
}
a {
  text-decoration: none !important;
}
a:focus {
  box-shadow: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #121117;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.wrapper_inactive {
  display: none;
}

.menu-tab {
  width: 56px;
  height: 52px;
  position: fixed;
  margin: 5px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  border-radius: 5px;
  z-index: -1;
}
.menu-tab div {
  width: 20px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 3px 1.125rem;
  transition: all 0.6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 1.125rem;
}
.menu-tab.active {
  right: 171px;
  transition: all 0.6s ease-in-out;
  background: #fff;
  box-shadow: 5px 0 35px 0 rgba(0, 0, 0, 0.3);
}
.menu-tab.active #one {
  transform: translateY(7px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #87c242;
}
.menu-tab.active #two {
  opacity: 0;
  transition: 0.4s ease;
}
.menu-tab.active #three {
  transform: translateY(-5px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #87c242;
}
.menu-hide {
  right: -345px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  transition: all 0.6s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-hide nav ul li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s ease;
}
.menu-hide nav ul li:hover {
  background-color: #e74c3c;
  transition: all 0.5s ease;
}
.menu-hide nav ul li a {
  padding: 30px 25px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 800;
}
.menu-hide.show {
  right: 0;
  background-color: #fff;
  border-left: 3px solid #87c242;
  transition: all 0.6s ease-in-out;
}
.tm_logo_whte {
  display: none;
}
.tm_logo_grn {
  padding: 0.5rem 0;
  display: inline-block;
}
.tm_logoo:hover .tm_logo_whte {
  display: block;
}
.tm_logoo:hover .tm_logo_grn {
  display: none;
}
a.nav-link i {
  width: 14px;
  height: 14px;
  font-size: 12px;
  border-radius: 50px;
  transition: 0.3s;
}
.tm_top_nav_usr_icn {
  padding: 20px 0 !important;
}
.tm_top_nav_usr_icn i {
  width: 30px;
  height: 30px;
}
.tm_sidebar_header {
  box-shadow: 5px 0 35px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  position: fixed;
  top: 0;
  right: -200px;
  background-color: #fff;
  border-left: 3px solid #87c242;
  overflow-x: hidden;
  transition: linear 0.3s;
  z-index: 9999;
}
.toggle_sidebar {
  right: 0;
}
.open {
  width: 160px;
}
.open-left {
  text-align: left;
}
.navbar-light {
  list-style: none;
}
.tm_logo {
  padding: 10px;
}
div#nav-tab {
  border-bottom: 0 solid #222;
}
.primary-nav {
  position: fixed !important;
  z-index: 9999999;
}
.menu {
  position: relative;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.open-panel {
  border: none;
  background-color: #fff;
  padding: 0;
}
.hamburger {
  background: #87c242;
  position: relative;
  display: block;
  text-align: center;
  padding: 13px 0;
  width: 50px;
  height: 53px;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}
.hamburger:before {
  content: "\2630";
  display: block;
  color: #fff !important;
  line-height: 32px;
  font-size: 16px;
  box-shadow: none;
}
.openNav .hamburger:before {
  content: "\2715";
  display: block;
  color: #fff;
  line-height: 32px;
  font-size: 16px;
}
.hamburger:hover:before {
  color: #fff;
}
.primary-nav .menu li {
  position: relative;
  border-bottom: 1px solid #222;
}
.menu .icon {
  position: absolute;
  top: 16px;
  right: 10px;
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}
.menu .icon i {
  font-size: 22px;
}
.menu,
.menu a,
.menu a:visited {
  color: #fff;
  text-decoration: none !important;
  position: relative;
}
.menu a {
  display: block;
  white-space: nowrap;
  padding: 1.2em;
  font-size: 13px;
  cursor: pointer;
}
.menu a:hover {
  color: #8bbb4b;
}
.menu {
  margin-bottom: 3em;
}
.menu-dropdown li .icon {
  color: #fff;
}
.menu-dropdown li:hover .icon {
  color: #8bbb4b;
}
.menu label {
  margin-bottom: 0;
  display: block;
}
.menu label:hover {
  cursor: pointer;
}
.menu input[type="checkbox"] {
  display: none;
}
input#menu[type="checkbox"] {
  display: none;
}
.sub-menu-dropdown {
  display: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: 0 0 !important;
}
.new-wrapper {
  background: #000;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
}
#menu:checked + ul.menu-dropdown {
  left: 0;
  -webkit-animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
  display: block !important;
  -webkit-animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.openNav .new-wrapper {
  position: absolute;
  transform: translate3d(0, 0, 0);
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.downarrow {
  background: 0 0;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}
.downarrow:hover {
  color: #fff;
}
.menu {
  position: absolute;
  display: block;
  left: -150px;
  top: 0;
  width: 200px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #121117;
  z-index: 999;
}
.menu-dropdown {
  top: 0;
  overflow-y: auto;
}
.overflow-container {
  position: relative;
  height: calc(100vh - 0px) !important;
  overflow-y: auto;
  border-top: 53px solid #87c242;
  z-index: -1;
  display: block;
}
.menu a.logotype {
  position: absolute !important;
  top: 6px;
  left: 55px;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  font-size: 21px;
  padding: 0;
}
.menu a.logotype span {
  font-weight: 400;
}
.menu a.logotype:hover {
  color: #777;
}
.sub-menu-dropdown {
  background-color: #333;
}
.menu:hover {
  position: absolute;
  left: 0;
  top: 0;
}
.openNav .menu:hover {
  position: absolute;
  left: -150px;
  top: 0;
}
.openNav .menu {
  top: 0;
  transform: translate3d(150px, 0, 0);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}
.hamburger:before {
  content: "\2630";
  display: block;
  color: #fff !important;
  line-height: 32px;
  font-size: 16px;
  box-shadow: none;
}

@media screen and (max-width: 576px) {
  .menu {
    left: -210px;
    width: 140px;
    border-right: 0;
  }

  .openNav .menu {
    left: -150px;
  }

  .hamburger {
    background: transparent;
    width: 40px;
    color: #fff;
  }

  .hamburger {
    margin-left: 5px;
  }

  .hamburger:before {
    font-size: 24px;
  }

  .logotype img {
    width: 110px;
    padding-right: 5px;
  }

  .menu a.logotype {
    left: 36px;
  }
  .menu a {
    padding: 1em;
  }
  .new-wrapper {
    left: 0px;
    width: calc(100% - 0px) !important;
    overflow-x: hidden;
  }
}
button:focus {
  outline: 0px dotted;
}
@-webkit-keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.tm_top_navi {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.tm_top_navi li a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase !important;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
  padding: 18px 1.125rem;
}

.navbar-light {
  list-style: none;
}

.pages_header .tm_top_navi {
  background: #121117;
  overflow: hidden;
}

.tm_logo_grn {
  padding: 0.5rem 0rem;
  display: inline-block;
}

.usr_btns li a {
  letter-spacing: 1px !important;
  text-transform: none !important;
  padding: 0 10px !important;
  margin-top: 18px;
}

.usr_btns li a > i {
  color: #fff;
  font-size: 18px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  .new-wrapper {
    left: 0;
    width: calc(100% - 0px);
    overflow-x: hidden;
  }

  .tm_top_navi {
    width: 100%;
  }

  .tm_logo_grn img {
    width: 110px;
    margin-top: 2px;
    margin-left: 15px;
  }

  .d-xs-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .tm_logo_grn img {
    width: 100px;
    margin-top: 5px;
  }
  .main_menu {
    display: none !important;
  }

  .tm_logo_grn {
    margin-left: 15px;
  }
}

@media screen and (max-width: 991px) {
  .main_menu {
    display: none !important;
  }

  .tm_top_navi li a {
    padding: 16px 0.5rem;
    letter-spacing: 2px;
  }
}

/* Footer */

footer {
  background-color: #121117;
  color: #fff;
  margin-top: 20px;
}

footer .list-group-item {
  background: none;
  border: none;
  padding-left: 0;
}

footer .list-group-item a {
  color: #fff;
  font-size: 13px;
}

.tm_socl_lnks .list-group-item a {
  font-size: 20px;
  transition: 0.3s;
}

#pauseplay,
#mute-video,
.tm_stre_lnk {
  display: none;
}
.tm_stre_lnk {
  color: #87c242;
}
.tm_stre_lnk {
  display: none;
}
p,
li,
a,
span,
label {
  line-height: 1.5;
}

// home page button

.home-btn {
  background-color: #87c242 !important;
}

.home-banner-btn {
  position: relative;
  bottom: 21rem;
  left: 1rem;
}

.tm-upcmng {
  position: relative;
  bottom: 25vh;
  z-index: 10;
  height: 0;
}

@media screen and (max-width: 570px) {
  .footer_links {
    display: block;
  }
  .tm-upcmng {
    margin-top: 6rem;
  }
  .tm-upcmng {
    position: relative;
    bottom: 130px;
    z-index: 10;
    height: 0;
  }
  .home-banner-btn {
    text-align: center;
    position: relative;
    bottom: 0 !important;
    left: 0 !important;
    padding: 0 0 2rem 0;
  }
  .width-100 {
    width: auto !important;
  }
}

@media screen and (max-width: 900px) {
  .home-banner-btn {
    position: relative;
    bottom: 17rem;
    left: 0rem !important;
  }
  // .width-100 {
  //   width: auto !important;
  // }
}
